<package-def>
    <class name="КомандаCategories" file="src/Классы/КомандаCategories.os"/>
    <class name="КомандаCategories" file="src/Классы/КомандаEnvironment.os"/>
    <class name="КомандаCategories" file="src/Классы/КомандаExample.os"/>
    <class name="КомандаCategories" file="src/Классы/КомандаExecutors.os"/>
    <class name="КомандаCategories" file="src/Классы/КомандаHistory.os"/>
    <module name="ПараметрыПриложения" file="src/Модули/ПараметрыПриложения.os"/>
    <module name="ИдентификаторЗадания" file="src/Модули/ИдентификаторЗадания.os"/>
    <module name="Страницы" file="src/Модули/Страницы.os"/>
</package-def>